/* lessons presentations */

@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

.hidden {
  display: none;
}

.right-image img {
  float: right;
  width: 400px;
}

.photo img,
.small-image img {
  width: 200px;
}

.right-code, .right {
  clear: both;
  float: right;
  /* width: 400px; */
}

.half-image img {
  width: 50%
}

.full-image img {
  width: 100%
}

ul {
  padding-inline-start: 1em;
}

.hljs-vs .hljs {
  padding: 0; 
}

.hljs.bash {
  background-color: black;
  color: white;
}

.remark-code-line {
  font-family: monospace;
}

blockquote {
  margin: 0;
  font-style: italic
}

table {
  width: 100%;
}

table img {
  max-width: 118px;
  max-height: 80px;
}

#todo-compare-table-commander-gluegun- + table {
  font-size: 12px;
}

.small-code .remark-code {
  font-size: 13px;
}